@using HST.Models

@{
    ViewBag.Title = "Index";
}

<H1>HST home controller</H1>
<script src="../../HST scripts/Login.js"></script>

<h2>Login</h2>

<H3>user name:</H3>
<input type="text" id="userName" value="u"/>
<br/>
<H3>password:</H3>
<input type="text" id="password"  value="1234"/>
<label><input type="checkbox" id="robot">i am a robot</label>
<input type="button" value="submit" onclick=Login() />
<img src="~/Pics/logo.png" alt="Sample Image" height="150" width="150" />
       








