@{
    ViewBag.Title = "Manager";
}


<h3>hello manager</h3>

<H2>create new task</H2>
<br />

<H2>assignedTo</H2>
<input type="text" id="assignedTo" value="u" />
<H2>description</H2>
<input type="text" id="description" value="description of the task" />
<H2>status</H2>
<input type="text" id="status" value="new" />

<input type="button" value="submit" onclick="AddTask()" />
<img src="~/Pics/logo.png" alt="Sample Image" height="150" width="150" />
<script src="../../HST scripts/Tasks.js"></script>


