
@{
    ViewBag.Title = "UserPage";
}


<h2>UserPage</h2>

<h2>Hello</h2>


<br/>

<div id="showData"></div>
<style>
    table, th, td 
    {
        margin:10px 0;
        border:solid 1px #333;
        padding:2px 4px;
        font:15px Verdana;
    }
    th {
        font-weight:bold;
    }
</style>



<script src="../../Scripts/jquery-1.10.2.js"></script>
<script src="../../HST scripts/UserPage.js"></script>
<script>
    window.onload = GetPageInfo();
</script>
